@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Movie Club!</h1>
    <p class="lead">If you love to watching movies, then this is the best club where you can find it all. Old movies, classics, and new movies are all available to you. Pay small amount for club contribution and you will have access to huge library of movies.</p>
    <hr class="my-4">
    <p>This club as well provides forums that you enjoy discussing movies and rating movies.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Excited? Learn more</a>
    </p>
</div>